.row-fluid
  .span6.offset3
    %fieldset
      %legend Listing Tasks

      %table
        %tr
          %th
          %th
          %th

        - @tasks.each do |task|
          %tr
            %td= link_to 'Show', task
            %td= link_to 'Edit', edit_task_path(task)
            %td= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }



