.row-fluid.elements
  .span6.offset1
    -if @owner_accounts.any?
      %h3
        Owned accounts
      %ul.nav.nav-list
        - @owner_accounts.each do |a|
          %li= link_to a.name, root_url
    -if @member_accounts.any?
      %h3
        Member accounts
      %ul.nav.nav-list
        - @member_accounts.each do |a|
          %li=a.name
    -if @visitor_accounts.any?
      %h3
        Visitor accounts
      %ul.nav.nav-list
        - @visitor_accounts.each do |a|
          %li=a.name
  .span4
    %p
      =image_tag "http://www.javachief.com/wp-content/uploads/2012/06/ernie100912.gif"
    %p
      Ernie Veritimos
      %br
      = current_user.username
      %br
      = current_user.email
    %ul.nav.nav-list
      %li.active=link_to 'Accounts', accounts_path
      %li=link_to 'Profile', root_url
    %hr
  .offset1
