.row-fluid.show-grid
  .span6.offset1
    %ul
      - @owner_accounts.each do |a|
        %li=a.name
    %ul
      - @member_accounts.each do |a|
        %li=a.name
    %ul
      - @visitor_accounts.each do |a|
        %li=a.name
  .span4
    Si multe pere
  .offset1
