%legend Members
%div
  - @project.memberships.each do |membership|
    = image_tag 'default_user_icon_128.png', alt: membership.user.username, height: "30", title: membership.user.username, width: "30"
