%legend Members
%div#membersArea{:'data-bind' => "foreach: memberships"}
  %img{height:"30", width: "30", :'data-bind' => "drag: {value: $data}, attr: {title: username, alt: username, src: avatar_src}"}
