%br
%form{data: {bind: "submit: addNewMember"}}
  %label New member:
  %input.small#userName{type: 'text', name: "name", placeholder: "Enter username of new member...", :'data-bind' => 'value: userNameInput'}
