%li{:'data-bind' => "attr: {class: 'step ' + step_class(), style: 'min-width:200px; width:' + $parent.stepWidth() + '%;'}, sortableItem: {enabled: removable, item: $data, parentList: $parent.steps}"}
  .list-header
    .list-title
      .editor{:'data-bind' => 'css: {editing: editing, editingCapacity: editingCapacity}'}
        %h4.view.step_name{:'data-bind' => "event: {dblclick: editStep}, text: name"}
        %span.right{:'data-bind' => "visible: isWorkValueVisible"}
          %span.label.label-info{rel: 'tooltip', title: "Current step capacity", :'data-bind' => "text: currentWorkValue"}
          %span{:'data-bind' => "visible: isMaxWorkValueVisible"}
            %span.separator /
            %span.label.label-info{rel: 'tooltip', title: "Maximum step capacity. Double click to edit.", :'data-bind' => "text: capacity, event: {dblclick: editStepCapacity}"}
        %form{:'data-bind' => 'submit: stopEditing'}
          %input.edit{type: 'text', :'data-bind' => 'value: name, event: {blur: stopEditing}, visible: removable'}
        %form.compact{:'data-bind' => 'submit: stopEditingCapacity'}
          %input.editCapacity{type: 'text', :'data-bind' => 'value: capacity, event: {blur: stopEditingCapacity}, visible: removable'}
      %a.icon-sm.icon-menu.dark-hover.js-open-list-menu{href: '#', data:{toggle: 'dropdown', bind: 'visible: category !== "archive"'}}
        %i.icon-th-list
        %ul.dropdown-menu{:role => 'menu', 'aria-labelledby' => 'dropdownMenu' }
          %li{:'data-bind' => 'visible: category === "backlog"'}
            %a{tabindex: '-1', href: '#', :'data-bind' => 'click: showWorkItemForm'} Add Work Item
          %li{:'data-bind' => 'visible: removable'}
            %a.deleteStep{:tabindex => '-1', :href => "#", :'data-bind' => 'click: $parent.deleteStep'} Delete step
  .card-composer{style: 'display:none;', :'data-bind' => 'visible:addWorkItemVisible'}
    .list-card.js-composer
      .card-labels.clearfix
      %textarea.js-card-title{:'data-bind' => 'value: work_item_textarea'}
      .list-card-members
    .cc-controls.clearfixe
      %button.btn.btn-mini.btn-primary{:'data-bind' => 'click: addWorkItem'} Add
      %a.icon-lg.dark-hover.js-cancel{href: '#', :'data-bind' => 'click: closeForm'}
        %i.icon-remove

  .ui-widget-content
    %ul.default.work_items.sortable{:'data-bind' => "foreach:work_items, sortableList: {list:work_items, connectWith: '.sortable'}"}
      %li{:'data-bind' => "click: $root.openEditWorkItemPopup, sortableItem: {item: $data, parentList: $parent.work_items}"}
        %img{:'data-bind' => 'attr: {src: "/img/estimate_" + work_value() + ".gif"}'}
        %img{:'data-bind' => 'visible: description, attr: {title: description_icon_title, src: description_icon}'}
        %span{:'data-bind' => 'text:name'}
        %ul{:'data-bind' => "foreach:users"}
          %li{:'data-bind' => "text:username"}
