/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require bootstrap-responsive
 *= require docs
 */

.blue {
    color: #0088cc;
}

div.project {
    overflow-x: scroll;
    overflow-y: hidden;
    width:850px;
    min-height:400px;
    border:1px dotted  #e5e5e5;
}
.project_table th, td {
    min-width: 170px;
    border:thin dotted;
    border-color:#0088cc;
    text-align: center;
}

.project_table td {
    height:100px;
}


