/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
    font: 15px/24px;
    color: #454545;
    font-family: Arial, Helvetica, Tahoma, sans-serif;
}

#main{
    width: 978px;
    margin: 0 auto;
 }

#header {
    height: 33px;
    border-bottom: 1px solid #000000;
}

#content {
    padding: 20px;
}

/* Headers */
h1, h2, h3, h4 {
    font: 15px/24px Georgia, Serif;
    color: #353535;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 15px;
}
h4 { font-size: 18px; }

a:link, a:visited {
    color: #000000;
}

/* ----------------------------------------------------------------------------
    F O O T E R
----------------------------------------------------------------------------- */
#footer {
    padding:10px;
    border-top: 1px solid #000000;
    font-size: 15px;
}

#footer a:link,
#footer a:visited {
    color: #000000;
}

#footer a:hover {
    color: #000000;
}

#footer p.footer-left {
    float: left;
    margin: 0 0 30px 0;
    padding: 0;
    width: 600px;
    text-align: left;
}

#footer p.footer-right {
    float: right;
    margin: 0 0 30px 0;
    padding: 0;
    width: 320px;
    text-align: right;
}
