/** Stylesheet for project page**/
div.list-area-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    width:100%;
    border:1px dotted  #e5e5e5;
    border-radius: 3px;
    background-color: #0082cc;
    padding: 3px 0;
    height: 93%;
    min-height:70%;
    position: relative;
    margin: 0 auto;
}

.list-area {
    width: 100%;
}

ul.default {
  margin: 0;
  list-style:none;
}

h4.step_name {
  display: inline;
  font-size: 15px;
  line-height: 18px;
  margin: 0 3px 0 0;
  min-height: 19px;
  min-width: 30px;
}

li.step {
  width: 150px;
  margin: 0 2px;
  float: left;
  background: #e3e3e3;
  border-radius: 3px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #404040;
  height: 100%;
}
li.step.not_sortable{
  background: #a3a3a3;
}

.ui-widget-content {
  min-height: 150px;
  height: 96%;
}

ul.work_items {
  min-height: 50px;
  li {
    background-color: #fff;
    border-top: 1px solid #b9b9b9;
    border-bottom: 2px solid #939393;
    border-radius: 3px;
    cursor: pointer;

    min-height: 18px;
    padding: 6px 8px 1px;
    position: relative;
    -moz-transition-property: background,margin-bottom,opacity;
    -webkit-transition-property: background,margin-bottom,opacity;
    transition-property: background,margin-bottom,opacity;
    -moz-transition-duration: 0.2s, 0.1s, 0.2s;
    -webkit-transition-duration: 0.2s, 0.1s, 0.2s;
    transition-duration: 0.2s, 0.1s, 0.2s;
    -moz-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    z-index: 0;
    &:hover {
      border-color: #1f6993;
      -webkit-box-shadow: 0 0 4px #1f6993;
      box-shadow: 0 0 4px #1f6993;
    }
  }
}
