/** Stylesheet for project page**/
div.list-area-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    width:100%;
    border:1px dotted  #e5e5e5;
    border-radius: 3px;
    background-color: #0082cc;
    padding: 3px 0;
    height: 93%;
    min-height:70%;
    position: relative;
    margin: 0 auto;
}

.list-area {
    width: 100%;
}

ul.default {
  margin: 0;
  list-style:none;
}

h4.step_name {
  display: inline;
  font-size: 15px;
  line-height: 18px;
  margin: 0 3px 0 0;
  min-height: 19px;
  min-width: 30px;
}

li.step {
  width: 150px;
  margin: 0 2px;
  float: left;
  background: #e3e3e3;
  border-radius: 3px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #404040;
  height: 100%;
}
li.step.not_sortable{
  background: #a3a3a3;
}

li.step.exceeded {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.ui-widget-content {
  min-height: 150px;
  height: 96%;
}

ul.work_items {
  min-height: 50px;
  li {
    background-color: #fff;
    border-top: 1px solid #b9b9b9;
    border-bottom: 2px solid #939393;
    border-radius: 3px;
    cursor: pointer;

    min-height: 18px;
    padding: 6px 8px 1px;
    position: relative;
    -moz-transition-property: background,margin-bottom,opacity;
    -webkit-transition-property: background,margin-bottom,opacity;
    transition-property: background,margin-bottom,opacity;
    -moz-transition-duration: 0.2s, 0.1s, 0.2s;
    -webkit-transition-duration: 0.2s, 0.1s, 0.2s;
    transition-duration: 0.2s, 0.1s, 0.2s;
    -moz-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    z-index: 0;
    &:hover {
      border-color: #1f6993;
      -webkit-box-shadow: 0 0 4px #1f6993;
      box-shadow: 0 0 4px #1f6993;
    }
  }
}

.kanban_board {
  /*width: 90%;*/
  height: 100%;
  float: left;
}
.span2.condensed {
  margin-left: 0.564102564102564%;
  width: 16.52991452991453%;
}

.right {
  float: right;
}


/******* EXAMPLE B *******/
/*.rating-b .bar-rating {
    height: 25px;
}

.rating-b .bar-rating a {
    display: block;
    width: 70px;
    height: 16px;
    float: left;
    background-color: #e3e3e3;
    margin: 1px;
}

.rating-b .bar-rating a.active,
.rating-b .bar-rating a.selected {
    background-color: #59a6d6;
}

.rating-b .bar-rating .current-rating {
    line-height: 1.1;
    float: left;
    padding: 0 20px 0 20px;
    color: #646464;
}
*/
.rating label.ui-widget{
  float: left;
  padding: 5px 10px;
}

.users {
  text-align: right;
}
