/** Stylesheet for project page**/
/*div.list-area-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    width:100%;
    border:1px dotted  #e5e5e5;
    border-radius: 3px;
    background-color: #0082cc;
    padding: 3px 0;
    height: 93%;
    min-height:70%;
    position: relative;
    margin: 0 auto;
}*/

.list-area {
    width: 100%;
}

ul.default {
  margin: 0;
  list-style:none;
}

h4.step_name {
  display: inline;
  font-size: 15px;
  line-height: 18px;
  margin: 0 3px 0 0;
  min-height: 19px;
  min-width: 30px;
}

li.step.exceeded {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.ui-widget-content {
  min-height: 150px;
  height: 95%;
  overflow-y: auto;
}

ul.work_items {
  min-height: 50px;
  li {
    background-color: #fff;
    border-top: 1px solid #b9b9b9;
    border-bottom: 2px solid #939393;
    border-radius: 3px;
    cursor: pointer;

    min-height: 18px;
    padding: 6px 8px 1px;
    position: relative;
    -moz-transition-property: background,margin-bottom,opacity;
    -webkit-transition-property: background,margin-bottom,opacity;
    transition-property: background,margin-bottom,opacity;
    -moz-transition-duration: 0.2s, 0.1s, 0.2s;
    -webkit-transition-duration: 0.2s, 0.1s, 0.2s;
    transition-duration: 0.2s, 0.1s, 0.2s;
    -moz-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    z-index: 0;
    &:hover {
      border-color: #1f6993;
      -webkit-box-shadow: 0 0 4px #1f6993;
      box-shadow: 0 0 4px #1f6993;
    }
  }
}

.kanban_board {
  /*width: 90%;*/
  height: 100%;
  float: left;
}
.span2.condensed {
  margin-left: 0.564102564102564%;
  width: 16.52991452991453%;
}

.right {
  float: right;
}

.rating label.ui-widget{
  float: left;
  padding: 0px 0px;
  font-size: 12px;
}

.users {
  text-align: right;
}

ol.fancy {
  li {
    background-color: rgb(185, 208, 137);
    border-radius: 3px;
    padding: 5px;
    margin: 3px 0;
    list-style: none;
    span.done {
      text-decoration: line-through;
      font-style: italic;
    }
    span.blocked {
      font-style: bold;
      color: red;
    }
    i {
      float: right;
      display: none;
      margin-left: 5px;
      cursor: pointer;
    }

    &:hover {
      i {
        display: block;
      }
    }
  }
}

.modal-body {
  max-height: 500px;
  overflow-y: auto;
}

body {
    height:100%;
    margin:0;
    padding:0;
}
#header {
    position:fixed;
    left:0;
    width:100%;
}

#header {
    top:0;
    height:80px;
    padding-top: 50px;
    padding-left: 40px;
    font-size: 16px;
}

#page {
    position:fixed;
    top:80px;
    bottom:60px;
    width:100%;
    left:0;
}
#main {
    width:100%;
    float:left;
}
#main-content {
    margin-right: 200px;
    border-color:#999;
    border-style:solid;
    border-width:0 0px;
}
#sidebar {
    float:left;
    width:200px;
    margin-left:-200px;
    padding: 0 4px;
}
ul.steps {
    list-style-type: none;
    padding: 0;
    height: 100%;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    margin-top: 0;
    overflow-y: hidden;
    background-color: #0082cc;
}
.col {
    float:left;
    min-height:100%;
    width:10%;
    cursor:pointer;
    background: #e3e3e3;
    border-radius: 3px;
    margin: 0px 2px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    position: relative;
    padding-top: 40px;
}

.collapsed {
    width:40px;
    text-indent:-9999em;
}
.collapsed .ui-widget-content {
    visibility: hidden;
}

.col.not_sortable {
    background:#CCC;
}
#main, #main-content, #sidebar, .col {
    height:100%;
}
#main-content, #sidebar {
    overflow-y: auto;
}
.list-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.ui-widget-content {
    height: 100%;
}
