.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container-fluid
      =link_to root_url, class: 'brand' do
        Kanban
        %span.blue ness
      - if user_signed_in?
        .nav-collapse.container-fluid
          %ul.nav
            %li
              =link_to 'Accounts', accounts_path
            %li
              =link_to 'masa', root_url
          %ul.nav.pull-right
            .btn-group
              = link_to '#', :class => 'btn btn-primary' do
                %i.icon-user.icon-white
                =current_user.username
              =link_to "#", :class => "btn btn-primary dropdown-toggle", 'data-toggle' => 'dropdown' do
                %span.caret
              %ul.dropdown-menu
                %li
                  = link_to '#' do
                    %i.icon-pencil
                    Profile
                %li
                  = link_to destroy_user_session_path, :method => :delete do
                    %i.icon-off
                    Logout