<!DOCTYPE html>
<html>
<head>
  <title>Kanban</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="main">
  <div id="header">
      <h1>Kanban</h1>
  </div>
  <div id="content">
    <%= yield %>
  </div>
  <div id="footer">
    <p class="footer-left">
      &copy; 2011 Kanban  &nbsp; &nbsp; &nbsp;
    </p>

    <p class="footer-right">
      <a href="index.html">home</a> |
      <a href="index.html">sitemap</a>
    </p>
  </div>
</div>
</body>
</html>
