%fieldset
  %legend Listing Work Types

  %table
    %tr
      %th
      %th
      %th

    - @accounts.each do |account|
      %tr
        %td= account.name
        %td= link_to 'Show', account
        %td= link_to 'Edit', edit_account_path(account)
        %td= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' }

  %br

