<%= javascript_include_tag "accounts"%>
<div class='row-fluid elements'>
  <div class='span6 offset1'>
    <h3>Accounts List</h3>
    <ol data-bind = "foreach:accounts, visible: accounts().length > 0">
      <li>
        <span data-class="accounts-item" data-bind = "text: name">
        <a href="#" data-class="accounts-delete" data-bind="click: $root.removeAccount">Delete</a>
      </li>
    </ol>
  </div>
  <div class='span4'>
    <form data-bind="submit: addNewAccount">
      <fieldset>
        <legend>Or Create a new Account</legend>
          <label>Account name:</label>
          <input type='hidden' id="accountId" name="id" value='-1'/>
          <input type='hidden' id="accountSlug" name="slug" value='-1'/>
          <input type='text' id="accountName" name="name" placeholder="Enter account name..."/>
          <span class="help-block">A new account will be imediately saved on the server.</span>
          <button type="submit" class='btn'>Add account</button>
        </p>
      </fieldset>
    </form>
  </div>
  <div class='offset1'></div>
</div>
