- content_for :head do
  = javascript_include_tag 'accounts'

.row-fluid.elements
  .span6.offset1
    %h3 Accounts List
    %ol{data: {bind: 'foreach:accounts, visible: accounts().length > 0'}}
      %li
        %span{data: {bind: "text: name"}}
        %a{title: 'View account projects', data: {bind: "attr:{href: projects_url}"}} View Projects
        %a{title: 'Archive account', href: "#", data: {bind: "click: $root.removeAccount"}} Archive
  .span4
    %form{data: {bind: "submit: addNewAccount"}}
      %fieldset
        %legend Or Create a new Account
        %label Account name:
        %input#accountId{type: 'hidden', name: "id", value: '-1'}
        %input#accountSlug{type: 'hidden', name: 'slug', value: '-1'}
        %input#accountName{type: 'text', name: "name", placeholder: "Enter account name..."}
        %span.help-block A new account will be imediately saved on the server.
        %button.btn{type: "submit"} Add account
  .offset1'
